.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.contols{
  width: 40vw;
}
.box{
  text-align: center;
  padding: 20vh 0px;
  width: 40vw;
  height: 50vh;
  /* padding: ; */
  background-color: blueviolet;
  color: white;
}

